/* INDEX Desktop */
.phone-button {
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1000;
  display: none;
}

.phone-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
  color: white;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}



/* INDEX Mobile */
@media screen and (max-width: 991px) {
  .phone-button {
      display: flex;
  }
}


/* LEGAL Desktop */
.legal {
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  font-size: 17px;
  background-color: rgb(34, 57, 78);
}

.legal > .container > h2 {
  margin-bottom: 30px;
}

.legal > .container > p > a {
  color: white;
}

.legal > .container > h2, h3, p {
  margin-bottom: 30px;
  color: white;
}

.text-legal {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 2000px) {
  .legal {
    padding-top: 150px;
    padding-bottom: 50px;  
  }
}
